Source: nomad-networkmanagement-applet
Section: KDE
Priority: optional
Maintainer: Alexis López Zubieta <azubieta90@gmail.com>
Build-Depends: debhelper (>=9), cmake, extra-cmake-modules, libkf5i18n-dev, plasma-framework-dev, libkf5windowsystem-dev
Standards-Version: 3.9.6
#Vcs-Git: git://anonscm.debian.org/collab-maint/nomad-networkmanagement-applet.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/nomad-networkmanagement-applet.git

Package: nomad-networkmanagement-applet
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, plasma-nm
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
